# Android Studio / IntelliJ IDEA
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.gradle/
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.cxx

# Kotlin specific
*.kotlin_module
*.kotlin_metadata
*.kotlin_builtins

# Android specific
*.apk
*.aab
*.ap_
*.jks
*.keystore
output.json

# Gradle files
.gradle/
build/
